/* * {
  outline: 1px solid red;
} */

html,
body,
#root {

  height: auto;
  margin: 0;
  padding-top: 0.5rem;
}

#banner,
{
  height: 700px;
  margin-bottom: 60px;
}

#passions, #portfolio {
  margin-bottom: 150px;
}


#contact {
  height: 700px;
}
